.App {
  text-align: center;
  
  /* padding-bottom: 2.5rem */
}
.about{
  /* height: 120vh; */
}
.new-post-page{
  height: 90vh;
}
header{
  background-color: white;
}
.navbar.navbar-light.bg-light{
  background-color: none;
}
.bg-light{
  background-color: none;
}
header div.container-fluid{
  background-color: white;
}
.dev-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
footer{
 margin-top: 20px;
}
.feed{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
p.card-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
div.card-title.h5{
  margin: 15px;
}