.App {
 /* min-height: 100vh; */
 display: flex;
 flex-direction: column;
}
footer{
  background-color: rgba(0, 0, 0, 0.054);
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.about{
  /* height: 120vh; */
}
.new-post-page{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.new-post-button{
  margin-top: 15px;
}
header{
  background-color: white;
}
.navbar.navbar-light.bg-light{
  background-color: none;
}
.bg-light{
  background-color: none;
}
header div.container-fluid{
  background-color: white;
}
.dev-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.feed{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* height: 90vh; */
}
.feed-post-cards{
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.061);
}
p.card-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
div.card-title.h5{
  margin: 15px;
}
.post-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.comment-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
